
@import './maz-ui-colors.scss';
@import '@/libs/smallbreeze/smallbreeze.scss';

// Same in maz-ui.config.js, which now uses its own system for css gen
$primary-color:   #1155AA;
$grey-color:      #AAAAAA;
$secondary-color: #FFC21D;
$warning-color:   #FFAA00;
$error-color:     #CC0000;
$black-color:     #000000;
$darker-color:    #232323;
$white-color:     #FFFFFF;

@import '@/libs/maz-comps/maz-comps.scss';


///////////////////////
// Quick-and-dirty   //
///////////////////////

.w-30px { width: 30px; }
.b-5-5-0-0 { border-radius: 5px 5px 0 0; }
.b-8-8-0-0 { border-radius: 8px 8px 0 0; }
.border-solid { border-style: solid; }
.border-2 { border-width: 2px; }
.border-black { border-color: #000; }


///////////////////////
// Unused but WiP    //
///////////////////////

// Size
$e-sizes: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30;
@each $e_size in $e_sizes {
  .h-#{$e_size} { font-size: $e_size * 1px; }
  .w-#{$e_size} { font-size: $e_size * 1px; }
}
// Size
$p1-sizes: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30;
@each $p1_size in $p1_sizes {
  .p-#{$p1_size} { padding: $p1_size * 1px; }
  $p2-sizes: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30;
  @each $p2_size in $p2_sizes {
    .p-#{$p1_size}-#{p2_size} { padding: $p1_size * 1px; }
  }
}


/////////////////////
// Border          //
/////////////////////

// $b1-sizes: 0 1 2 3 4 5 6 7 8 9 10;
// @each $b1_size in $b1_sizes {
//   .b-#{$b1_size} { padding: $b1_size * 1px; }
//   $b2-sizes: 0 1 2 3 4 5 6 7 8 9 10;
//   @each $b2_size in $b2_sizes {
//     .b-#{$b1_size}-#{b2_size} { padding: $b1_size * 1px; }
//   }
// }


/////////////////////
// Border-radius   //
/////////////////////

// $b1-sizes: 0 1 2 3 4 5 6 7 8 9 10;
// @each $b1_size in $b1_sizes {
//   .b-#{$b1_size} { padding: $b1_size * 1px; }
//   $b2-sizes: 0 1 2 3 4 5 6 7 8 9 10;
//   @each $b2_size in $b2_sizes {
//     .b-#{$b1_size}-#{b2_size} { padding: $b1_size * 1px; }
//   }
// }
